<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Про Нас</title>
</head>
<body bgcolor="#f8edeb">
    <h2>Про нас</h2>

    <footer>
        <p>© 2024 Мій вебсайт. Усі права захищені.</p>
    <nav>
        <ul>
            <li><a href="{% url 'contact' %}">Контакти</a></li>
            <li><a href="{% url 'home' %}">Головна</a></li>
            <li><a href="{% url 'shopping_cart' %}">Кошик</a></li>
            <li><a href="{% url 'catalog' %}">Каталог</a></li>
        </ul>
    </nav>
    </footer>
</body>
</html>