<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Наші контакти</title>
</head>
<body bgcolor="#f8edeb">
    <h2>Наші контакти</h2>


    <form method = 'post'>
        {% csrf_token %}
        <label for="message">Введіть повідомлення</label>
        <input type="text" name="message" id="message">
        <button type="submit">Надіслати</button>
    </form>
    <footer>
        <p>© 2024 Мій вебсайт. Усі права захищені.</p>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Головна</a></li>
            <li><a href="{% url 'shopping_cart' %}">Кошик</a></li>
            <li><a href="{% url 'about' %}">Про нас</a></li>
            <li><a href="{% url 'catalog' %}">Каталог</a></li>
        </ul>
    </nav>
    </footer>
</body>
</html>