<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
	<title>resume</title>
</head>
<body>
	<div class="main">
		<div class="sidebar">
			<img class="sidebar__image" src="C:\qrd\laba3\static\img\minion.jfif" alt="">
			<div class="sidebar_contact">
				<h3>Контакти</h3>
				<p><span>C: </span>+380675861924</p>
				<p><span>E: </span>olegkuzmich22144@gmail.com</p>
			</div>
			<div class="tech_skills">
				<h3>Технічні навички</h3>
				<ul>
					<li><span>HTML5</span></li>
					<li><span>CSS</span></li>
					<li><span>GIT</span></li>
					<li><span>Node.js</span></li>
				</ul>
			</div>
			<div class="soft_skills">
				<h3>Soft skills</h3>
				<ul>
					<li><span>Scrum</span></li>
					<li><span>Agile</span></li>
					<li><span>GTD</span></li>
					<li><span>Teamwork</span></li>
				</ul>
			</div>
		</div>
		<div class = "main-content">
			<div class="main__text-block">
				<h4 class="main__text-block__subtitle">безробітний</h4>
				<h1>Олег Кузьмич</h1>
				<p class = 'text_box'>Lorem ipsum dolor, sit, amet consectetur adipisicing elit. Voluptatum in sunt eos neque tempore inventore, sed blanditiis at amet est magnam porro hic dicta similique ullam ratione repudiandae adipisci! Quis.</p>
			</div>
			
			
			<h2>Проекти</h2>

			<ol class = 'text_box'>
				<li><a href="https://youtube.com">youtube.com</a></li>
				<li><a href="https://telegram.org">telegram.org</a></li>
				<li><a href="https://wikipedia.org">wikipedia.org</a></li>
			</ol>

			<div class = "experience"> 
				<h2>Досвід роботи</h2>

				<h3>front-end developer <span class = 'text_orange'>youtube</span></h3>
				<p class = 'date_text'>September 2022 - to now</p>
				<ul class = 'text_box'>
					<li>Lorem ipsum dolor  sit amet consectetur, adipisicing elit. Dolorum, at consectetur saepe esse minima quis amet vitae doloremque perferendis ullam aliquam veniam placeat ad atque error illum consequatur aspernatur. Eaque.</li>
					<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, at consectetur saepe esse minima quis amet vitae doloremque perferendis ullam aliquam veniam placeat ad atque error illum consequatur aspernatur. Eaque.</li>
					<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, at consectetur saepe esse minima quis amet vitae doloremque perferendis ullam aliquam veniam placeat ad atque error illum consequatur aspernatur. Eaque.</li>
				</ul>

				<h3>Manager <span class='text_orange'>telegram</span></h3>
				<p class = 'date_text'>September 2020 - September 2022</p>
				<ul class = 'text_box'>
					<li>Lorem ipsum dolor  sit amet consectetur, adipisicing elit. Dolorum, at consectetur saepe esse minima quis amet vitae doloremque perferendis ullam aliquam veniam placeat ad atque error illum consequatur aspernatur. Eaque.</li>
					<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, at consectetur saepe esse minima quis amet vitae doloremque perferendis ullam aliquam veniam placeat ad atque error illum consequatur aspernatur. Eaque.</li>
					<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, at consectetur saepe esse minima quis amet vitae doloremque perferendis ullam aliquam veniam placeat ad atque error illum consequatur aspernatur. Eaque.</li>
				</ul>

				<h3>Manager <span class="text_orange">wikipedia</span></h3>
				<p class = 'date_text'>September 2018 - September 2020</p>
				<ul class = 'text_box'>
					<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, at consectetur saepe esse minima quis amet vitae doloremque perferendis ullam aliquam veniam placeat ad atque error illum consequatur aspernatur. Eaque.</li>
					<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, at consectetur saepe esse minima quis amet vitae doloremque perferendis ullam aliquam veniam placeat ad atque error illum consequatur aspernatur. Eaque.</li>
					<li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, at consectetur saepe esse minima quis amet vitae doloremque perferendis ullam aliquam veniam placeat ad atque error illum consequatur aspernatur. Eaque.</li>
				</ul>
			</div>
			<div class="education">
				<h2>Навчання</h2>
				<h3 class="text_orange">LNTU</h3>
				<h3>Management</h3>
				<p class="date_text">September22 - June 2026</p>
			</div>
		</div>
	</div>
</body>
</html>